[package]
name = "xq"
version = "0.2.1"
authors = ["mi_sawa <mi.sawa.1216+git@gmail.com>"]
edition = "2021"
description = "A reimplementation of jq."
license = "MIT"
repository = "https://github.com/MiSawa/xq"
readme = "README.md"
exclude = [".github"]

[[bin]]
name = "xq"
path = "src/bin/main.rs"
required-features = ["build-binary"]

[features]
default = ["build-binary"]
build-binary = ["anyhow", "clap", "clap-verbosity-flag", "simplelog", "serde_yaml"]

[dependencies]
thiserror = "1.0.29"
log = "0.4.14"
nom = "7.0.0"
im-rc = "15.0.0"
sized-chunks = "0.6.5"
num = "0.4.0"
num-traits = "0.2.14"
num-derive = "0.3.3"
ordered-float = "2.0"
cast = "0.3.0"
itertools = "0.10.1"
serde = "1.0.130"
derive_more = "0.99.16"
phf = { version = "0.10.0", features = ["macros"] }
serde_json = "1.0.67"
html-escape = "0.2.9"
shell-escape = "0.1.5"
urlencoding = "2.1.0"
base64 = "0.13.0"
chrono = "0.4.19"
lalrpop-util = "0.19.7"

clap = { version = "3.0.9", features = ["derive"], optional = true }
clap-verbosity-flag = { version = "0.4.0", optional = true }
anyhow = { version = "1.0", optional = true }
simplelog = { version = "0.10.0", optional = true }
serde_yaml = { version = "0.8.23", optional = true }
lexgen = "0.10.0"
lexgen_util = "0.10.0"

[build-dependencies]
lalrpop = "0.19.7"
