name: CI

permissions:
  contents: read

on:
  push:
    branches: [ 'master' ]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTFLAGS: -D warnings

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - uses: Swatinem/rust-cache@v1
    - name: Install cargo-about
      uses: baptiste0928/cargo-install@v1
      with:
        crate: cargo-about
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Try generating about.html
      uses: actions-rs/cargo@v1
      with:
        command: about generate about.hbs

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - uses: Swatinem/rust-cache@v1
    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose --all-features --workspace

  tidy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly # Using nightly for (a) unstable features of rustfmt and (b) faster clippy redundant_clone lint
        components: rustfmt, clippy
        override: true
    - uses: Swatinem/rust-cache@v1
    - name: Run fmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all --check
    - name: Run clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --verbose --all-features --workspace

